.player {
    background-color: rgba(250, 176, 103, 0.87);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.editbtn{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none ;
    color: #282617;
    font-weight: bold;
    background-color: transparent ;
    font-weight: bold;
    font-size: 20px;
}
.inputName{
    
    font: inherit;
    font-size: 20px;
    font-weight: bold;
    width: 10rem;
    border: none;
    padding: 0.5rem;
    animation: pulse-text 2s infinite;
    background-color: #46432f;
    text-align: center;
    text-transform: uppercase;
    color: #fab067de;
}
.inputName:focus{
    outline: none;
    border-bottom: 1px solid #282617;
    color: #fab067de ;
}
.playerName{
    
    display: inline-block;
    width: 10rem;
    font-size: 20px;  
    font-weight: bold;
    color: #282617;
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem;
    border-radius: 4px;
    text-overflow: ellipsis;
    text-align: center;
}
.playerSymbol{
    margin-left: 1rem;
    font-size: 20px;
    color: #282617;
    font-weight: bold ;
}
.activePlayer{  
    border: 3px solid  ;
    border-color: #f6e35a;
}                     
@media (max-width: 768px) {  
    .player {
            padding: 5px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    
        .playerName,
        .playerSymbol {
            font-size: 16px;
        }
    
        .inputName {
            font-size: 16px;
            width: 8rem;
        }
    }