
.App {
  max-width: 700px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 6px;
    background: linear-gradient(#383624, #282617);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.playersBord{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.activPlayer{
  width: 300px;
}









