
.App {
  max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 6px;
    background: linear-gradient(#383624, #282617);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.playersBord{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.activPlayer{
  width: 300px;
}


@media (max-width: 768px) {
  .App {
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    gap: 10px;
  }

  .playersBord {
    flex-direction: column;
    gap: 10px;
  }

  

  

  
}






